<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
<style>
  @import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,700,700i&subset=latin-ext');
</style>
{{ partial "head.html" . }}

<body>
  <a href="#main">skip to content</a>
  {{- range .Site.Params.customCSS }}
  <link rel="stylesheet" href="{{ . | absURL }}">
  {{- end }}
  {{ partial "svg.html" . }}
  <div class="wrapper">
    {{ partial "header.html" . }}
    <div class="main-and-footer">
      <div>
        {{ block "main" . }}{{ end }}
        {{ partial "footer.html" . }}
      </div>
    </div>
  </div>
  {{ partial "script.html" . }}
  {{ partial "katex.html" . }}
  {{ partial "google-analytics-async.html" . }}
</body>

</html>
