<header class="intro-and-nav" role="banner">
  <link rel="stylesheet" href="{{ "css/style.css" | absURL }}" media="none" onload="this.media='all';">
  {{ partial "svgpack-sprite.html" . }}
  <div>
    <div class="intro">
      <!-- <a class="logo" href="/" aria-label="{{ .Site.Title }} home page">
        <img src="{{ "images/logo.svg" | absURL }}" alt="">
      </a> -->
      <div>
        <h2>{{ .Site.Title }}</h2>
      </div>
      <p class="library-desc">
        {{ with .Site.Params.description }}
        {{ . | markdownify }}
        {{ end }}
      </p>
    </div>
    {{ partial "nav.html" . }}
    <div class="social">
    </div>
  </div>
</header>