{{ define "main" }}
<main id="main">
  <div>
    {{ range first 1 $.Site.RegularPages }}
    <!-- <h1>
      <a href="{{ .Permalink }}" style="border-bottom:0px">
        <svg class="bookmark-icon" aria-hidden="true" viewBox="0 0 40 50" focusable="false">
          <use xlink:href="#bookmark"></use>
        </svg>
      </a>
      {{ .Title }}
    </h1>

    <div class="date">
      {{ $dateFormat := $.Site.Params.dateFormat | default "Jan 2, 2006" }}
      {{ $publishDate := .PublishDate }}
      {{ $publishDate.Format $dateFormat }}
    </div> -->

    <!-- {{ with .Params.tags }}
    <div class="tags">
      <strong aria-hidden="true">Tags: </strong>
      <ul aria-label="tags">
        {{ range . }}
        <li>
          <svg class="tag-icon" aria-hidden="true" viewBox="0 0 177.16535 177.16535" focusable="false">
            <use xlink:href="#tag"></use>
          </svg>
          {{ $href := print ("tags/" | absLangURL) (. | urlize) "/" }}
          <a href="{{ $href }}">{{ . }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
    {{ end }} -->

    <div class="title">
      <h1>{{ .Title }}</h1>
      {{ partial "i18nlist.html" . }}
    </div>

    {{ .Content }}

    <!-- <div class='pagination__row'>
      <div class="pagination__right">{{with .PrevInSection}}<a href={{.Permalink}} class="pagination__link">{{.Title}}
          ➡️</a>{{end}}</div>
    </div> -->
    {{ end }}
  </div>

</main>
{{ end }}
